# Terraform working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

# Environment variables
.env
.env.*

# OS Files
.DS_Store
._*

# Logs
*.log

# Node (if ever used)
node_modules/

# Zip files
*.zip
